<article class="card" [class]="cardClasses()">
  <div class="card__image">
    <img
      [ngSrc]="imageUrl()"
      [alt]="imageAlt() || title()"
      width="723"
      height="416"
      [priority]="priority()"
    />
  </div>

  <div class="card__content">
    <div class="card__header">
      <ui-svg class="card__icon" icon="calendar" aria-hidden="true" />
      <span class="card__label">{{ label() }}</span>
    </div>

    <h3 class="card__title">{{ title() }}</h3>

    <p class="card__description">{{ description() }}</p>

    @if (buttonLabel()) {
      <div class="card__footer">
        <ui-button [disabled]="buttonDisabled()">{{ buttonLabel() }}</ui-button>
      </div>
    }
  </div>
</article>
