<ui-section bgColor="gray">
  <ui-card
    [imageUrl]="cardData.imageUrl"
    [label]="cardData.label"
    [title]="cardData.title"
    [description]="cardData.description"
    [buttonLabel]="cardData.buttonLabel"
    [priority]="true"
  />
</ui-section>

<ui-section bgColor="white">
  <app-header
    header
    title="Lorem ipsum dolor sit"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
  />

  <div
    class="grid grid-cols-1 gap-6 min-[460px]:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
  >
    @for (card of cardsData; track card.id; let idx = $index) {
      <ui-card
        [imageUrl]="card.imageUrl"
        [label]="card.label"
        [title]="card.title"
        [description]="card.description"
        [withPadding]="false"
        [showShadow]="false"
        align="vertical"
        [priority]="idx < 3"
      />
    }
  </div>
</ui-section>

<ui-section bgColor="white">
  <app-header
    header
    title="Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
      Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
      ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam
      quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
      interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum
      sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis
      orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros,
      eget tempus orci facilisis id"
  />

  <div
    class="grid auto-cols-[minmax(280px,60%)] grid-flow-col gap-6 overflow-x-auto lg:auto-cols-[minmax(280px,calc(25%-1.125rem))]"
  >
    @for (card of imageCardsData; track card.id) {
      <ui-card-image
        [imageUrl]="card.imageUrl"
        [title]="card.title"
        [description]="card.description"
        [buttonLabel]="card.buttonLabel"
        [buttonIcon]="card.buttonIcon"
      />
    }
  </div>
</ui-section>
